<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cowin.vaccine.notifier">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="com.sec.android.app.sbrowser.permission.WEBCONTENTSPROVIDER" />



  <application
      android:label="@string/app_name">
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-5673415844958265~8130379414"/>

    <activity
        android:name="com.cowin.vaccine.notifier.MainActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".StopAlarmActivity"
        android:parentActivityName=".MainActivity">
      <!-- The meta-data tag is required if you support API level 15 and lower -->
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity" />
    </activity>

  </application>

</manifest>